<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter Plot</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

</head>
<body>
    <canvas class="chart" id="chart" width="900" height="400"></canvas>
    <script>
        // Function to update the chart with fetched data
        async function updateChart() {
            // Fetch data from the Flask route
            const response = await fetch('/get_data');
            const data = await response.json();

            // Check if data is displayed correctly, should appear on http://127.0.0.1:300/get_data
            // console.log(data);
    
            var ctx = document.getElementById("chart").getContext("2d");
            var scatterChart = new Chart(ctx, {
                type: "scatter",
                data: {
                    datasets: [
                        {
                            label: "Data points",
                            data: data,
                            backgroundColor: "rgba(75, 192, 192, 0.5)",
                            pointRadius: 6
                        }
                    ]
                },
                options: {
                                responsive: false,
                                scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom',
                            ticks: {
                                stepSize: 1, // Increase this value to adjust the number of X-axis grid lines
                                beginAtZero: true // Starts at zero
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                stepSize: 500, // Increase this value to adjust the number of Y-axis grid lines
                                beginAtZero: true // Starts at zero
                            }
                        }]
                    }
                }
            });
        }
    
        // Call the updateChart function to initialize the chart
        updateChart();
    </script>    
    
</body>
</html>
