<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Logistic Regression</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="scatter-plot"></div>
    
    <script>
    async function updateChart() {
        const response = await fetch('/multilogistic_regression');
        const data = await response.json();

        var traceScatter = {
            x: data.chart_data.map(d => d.x),
            y: data.chart_data.map(d => d.y),
            mode: 'markers',
            type: 'scatter',
            name: 'Data Points'
        };

        var traceLine = {
            x: data.chart_data.map(d => d.x),
            y: data.chart_data.map(d => d.prediction),
            mode: 'lines',
            type: 'scatter',
            name: 'Multi-Logistic Regression Line'
        };

        var layout = {
            title: 'Linear Regression',
            xaxis: {title: 'X'},
            yaxis: {title: 'Y'}
        };

        Plotly.newPlot('scatter-plot', [traceScatter, traceLine], layout);
    }

    updateChart();

    </script>
</body>
</html>
